/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .search-container input {
    float: none;
  }
  .item {
    width: calc((1/2)*100%);
    padding: 0;
  }
  .data-list {
    padding-top: 0;
  }
  .item-data {
    padding: 15px;
    border: 1px solid #f1f2f2;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .search-container input {
    float: left;
  }
  .item {
    width: calc((1/5)*100%);
    padding: 10px;
  }
  .item-data {
    border: none;
  }

  .data-list {
    padding-top: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

